.menu {
    list-style-type: none;
    padding: 0;
    width: 140px;
    line-height: 50px;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 60px;
    text-decoration: none;
    display: inline-block;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}


.center{
    border: 5px solid #8C8079;
    border-radius: 20px;
    height: 100%;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    line-height: 2;
    text-align: justify;
    padding: 15px 20px;
}


.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;

    margin-left: 40px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #8C8079;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #595959;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #262626;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #BFB6B0;
        &:before {
            width: 100%;
        }
    }
}


.stick{
    position: fixed;
    top:0;
    width: 100%;
    background:#BFB6B0;
    z-index: 1000;
}

main{
    margin-top: 300px;
}

@media screen and (min-width: 600px) and (max-width: 750px) {


    .stick{
        margin-bottom: 0;
        position: relative;
        top:0;
        width: 100%;
        background:#BFB6B0;
        z-index: 1000;
    }


    main{
        margin-top: 0;
    }

}


.active {
    .menu:hover {
        background: #262626;
        box-shadow: 0 15px 20px ;
        color: white;
        transform: translateY(-7px);
    }

    background-color: #595959;
    border-radius: 45px;

    .menu{
        color: #524f4e;
        background: #595959;
        border-radius: 45px;
    }
}

#loadingStats {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    color: #262626;
}

#logoImage {
    transition: transform 0.9s ease;
}

.rotate {
    transform: rotate(360deg);
}