*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

html{
    width: 100%;
    height: 100vh;
    background: #BFB6B0 ;
    color: #262626;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

.link {
    text-decoration: none;
}

.container{
    position: relative;
}

.logo{
    margin: -10px 15px;
}

.slogan{
    margin: -320px 10px 30px;
    position: relative;
    font-size: 320%;
    text-shadow: 5px 3px 13px #8C8079;
    padding-top: 10%;
    text-align: center;
    color: #8C8079;
}

.menu {
    margin: -320px -10px 180px 1330px;
    list-style-type: none;
    padding: 0;
    width: 140px;
    line-height: 45px;

    text-decoration: none;
    display: inline-block;
    height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: #595959;
    box-shadow: 0 8px 15px ;
    transition: .3s;
}

.menu:hover {
    background: #262626;
    box-shadow: 0 15px 20px ;
    color: white;
    transform: translateY(-7px);
}

.li {
    margin: -1800px -10px 180px 1330px;
    display: block;
    padding: 10px;
}

.menu li a {
    text-decoration: none;
    color: #8C8079;
}

.menu li:hover {
    background-color: #e9e9e9;
}

.line {
    margin: -10px 0px 30px;
    border-bottom: 2px solid #8C8079;
}






.we{
    margin-left: 37px;
    width: 95%;
    color: #262626;
    font-family: Courier New, monospace;
    font-size: 20px;
    font-stretch: ultra-expanded;
    font-weight: 500;
    background-size: cover;
    margin-bottom: 30px;

}

h2{
    color: #595959;
    text-shadow: #595959 2px 2px 3px;
    font-family: Courier New, monospace;
    font-style: normal;
    font-weight: 1080;
    background-size: cover;
    font-size: 180%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.pleasure h2{
    color: #4a4a4a;
}
.center{
    border: 5px solid #8C8079;
    border-radius: 20px;
    height: 100%;
    width: 95%;
    font-size: 100%;
    margin-right: -200px;
    margin-left: 10px;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
    padding: 15px 20px;
}


.pleasure{
    margin: -3px -100px 20px 40px;
    background-color: #8C8079;
    border-radius: 20px;
    height: 100%;
    width: 92%;
    list-style-type: none;
    padding: 15px 20px;
}

.pleasure li{
    background-size: cover;
    text-align: justify;
    line-height: 1.2;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #262626;
    font-family: Courier New, monospace;
    font-size: 20px;
    font-stretch: ultra-expanded;
    font-weight: 550;
}

.pleasure ul{
    list-style-type: none;
}

.pleasure ol{
    margin-left: 40px;
    text-align: justify;
    margin-right: 25px;
}


#sidebar {
    background-color: #8C8079;
    font-family: Times, Times New Roman, serif;
    font-style: italic;
    font-size: 18px;
    font-stretch: ultra-expanded;
    font-weight: 300;
    border-radius: 20px ;
    width: 18%;
    height: 40%;
    text-align: justify;
    margin: 15px -110px 5px 1170px;
    padding: 15px 20px;
}

#sidebar cite{
    padding-left: 150px;
    font-weight: 600;
}
.achievements{
    margin-top: -30px;
    margin-bottom: 40px;
    margin-left: 37px;
    width: 95%;
    color: #262626;
    font-family: Courier New, monospace;
    font-size: 20px;
    font-stretch: ultra-expanded;
    font-weight: 550;
}
.achievements ol{
    list-style-type: none;
}





footer h3{
    color: #595959;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 880;
    background-size: cover;
    font-size: 90%;
}

.help{
    float:right;
    margin-right: 60px;
    margin-top: 55px;
}

.help h3{
    margin:  -10px 0px 9px 15px;
}

footer ul{
    float: left;
    margin-left: 15px;
    list-style-type: none;
}

footer h3{
    margin:  -3px 0px 10px 40px;
    font-size: 18px;
    text-shadow: #595959 1px 1px 1px;
}


.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;

    margin-left: 40px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #8C8079;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #595959;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #262626;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #BFB6B0;
        &:before {
            width: 100%;
        }
    }
}

ul span{
    margin-left: 10px;
   height: 100%;
}
.address img{
    margin: 0px 0px -10px 10px;
    width: 30px;
    height: 30px;
}


.address a{
    text-decoration: none;
}


.phone img{
    margin: 20px 0px -10px 10px;
    width: 30px;
    height: 30px;
}


.email img{
    margin: 25px 0px -10px 10px;
    width: 30px;
    height: 30px;
}

.email a{
    text-decoration: none;
}

footer span{
    font-family: Courier New, monospace;
    font-weight: 600;
    color: #474747;
    text-decoration: none;
}

