*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

html{
    width: 100%;
    height: 100%;
    background: #BFB6B0 ;
    color: #262626;
}


header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.link {
    margin-top: 100px;
    text-decoration: none;
}

.container{
    position: relative;
    clear: both;
}


.slogan{
    position: relative;
    font-size: 26px;
    text-shadow: 5px 3px 13px #8C8079;
    top: 90px;
    text-align: center;
    color: #8C8079;
}

.menu:hover {
    transform: translateY(-7px);
}

.li {
    display: block;
    padding: 10px;
}

.menu li{
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: #8C8079;
}

.menu a:hover {
    padding: 10px 18px;
    border-radius: 45px;
    background-color: #454545;
}

.line {
    border-bottom: 2px solid #8C8079;
    width: 100%;
}




main h1{
    color: #535353;
    text-shadow: #595959 2px 2px 3px;
    font-family: Courier New, monospace;
    font-style: normal;
    font-weight: 1080;
    background-size: cover;
    font-size: 34px;
    margin-top: 280px;
    margin-bottom: 20px;
    text-align: center;
}

.task{
    background: #8C8079;
    padding-bottom: 10px;
}

form {
    margin-left: 300px;
}

label{
    list-style-type: none;
    padding: 0;
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 10px;
    color: #3a3a3a;
}

button{
    margin-left: 10px;
    color: #3a3a3a;
    background-color:#BFB6B0 ;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: 5px;
}

select option{
    font-family: 'Montserrat', sans-serif;
    color: #BFB6B0;
}

input {
    padding: 5px;
    background-color:#BFB6B0 ;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

input[type="number"] {
    color:  #3a3a3a;
    background-color: #BFB6B0;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    border-radius: 10px;
}

#resultContainer {
    margin-top: 20px;
}

select{
    color: #3a3a3a;
    background-color: #BFB6B0;
    border-radius: 10px;
    padding: 5px;
}
